## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [430]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [431]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
        
print(sample_list_1)

[8, 91, 21, 33, 47, 95, 42, 34, 82, 37, 60, 24, 44, 66, 89, 61, 93, 69, 68, 98, 64, 56, 10, 2, 27, 67, 39, 15, 22, 23, 19, 72, 74, 99, 9, 40, 83, 88, 87, 84, 94, 86, 5, 1, 6, 25, 14, 54, 45, 57, 11, 7, 28, 78, 29, 20, 48, 70, 16, 73, 80, 55, 30, 13, 51, 81, 58, 31, 3, 76, 38, 12, 75, 4, 79, 26, 35, 97, 17, 46]

In [432]:
set(sample_list_1)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 47,
 48,
 51,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 64,
 66,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 89,
 91,
 93,
 94,
 95,
 97,
 98,
 99}

In [433]:
len(set(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [434]:
# Your code here

set1 = sample_list_1
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [435]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(1,100))
    
print(sample_list_2)
len(sample_list_2)

[75, 93, 54, 44, 93, 15, 33, 95, 91, 51, 97, 44, 51, 79, 20, 77, 1, 13, 95, 83, 35, 90, 12, 48, 80, 50, 52, 41, 5, 30, 21, 27, 5, 23, 16, 78, 48, 78, 48, 90, 52, 82, 7, 49, 60, 25, 48, 77, 72, 16, 6, 61, 1, 35, 94, 53, 45, 21, 73, 96, 43, 84, 14, 16, 31, 59, 24, 69, 55, 58, 58, 21, 47, 72, 91, 17, 94, 44, 47, 83]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [436]:
# Your code here

set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [437]:
# Your code here
set3 = set1 - set2
set3

{2,
 3,
 4,
 8,
 9,
 10,
 11,
 19,
 22,
 26,
 28,
 29,
 34,
 37,
 38,
 39,
 40,
 42,
 46,
 56,
 57,
 64,
 66,
 67,
 68,
 70,
 74,
 76,
 81,
 86,
 87,
 88,
 89,
 98,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [438]:
# Your code here
set4 = set2 -set1
set4

{41, 43, 49, 50, 52, 53, 59, 77, 90, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [439]:
# Your code here

set5 = (set1.union(set2)) - set3 - set4
print(set5)

{1, 5, 6, 7, 12, 13, 14, 15, 16, 17, 20, 21, 23, 24, 25, 27, 30, 31, 33, 35, 44, 45, 47, 48, 51, 54, 55, 58, 60, 61, 69, 72, 73, 75, 78, 79, 80, 82, 83, 84, 91, 93, 94, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [440]:
len(set3)+len(set2)-len(set4) == len(set1) == len(set5)+len(set3)

True

#### Create an empty set called `set6`.

In [441]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [442]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 51, 54, 55, 56, 57, 58, 60, 61, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [443]:
# Your code here
set1 == set6

True

In [444]:
len(set6)

80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [445]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [446]:
# Your code here
x = set3.union(set4)
x.union(set5)

y = set1.union(set2)


x == y

False

#### Using the `pop` method, remove an element from `set1`.

In [447]:
# removing an element with pop will be removed a random number.
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 51, 54, 55, 56, 57, 58, 60, 61, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 97, 98, 99}

In [448]:
# remove a specific number is possible on list - convert in list before (my comment)
ciao = list(set1)
ciao.pop(7)
set1 = ciao
print(set1)

[2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 51, 54, 55, 56, 57, 58, 60, 61, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [449]:
set1 = set(set1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 51, 54, 55, 56, 57, 58, 60, 61, 64, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 97, 98, 99}

In [450]:
# Your code here
list_to_remove = {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
set1.difference_update(list_to_remove)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 37, 38, 40, 42, 44, 45, 46, 47, 48, 54, 55, 56, 57, 58, 60, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 87, 88, 93, 94, 95, 97, 98}