# Pandas: grouping

In [298]:
import pandas as pd
import numpy as np

In [299]:
cars = pd.read_csv("data/vehicles.csv")

In [300]:
# it return the first 5 rows of the data frame

cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### How many Car models?

In [301]:
### grouping by Models to see how many groups of car models we have


cars_model = cars.groupby(['Model']).count()
print(len(cars_model.index))

3608

In [302]:
# we have 3608 car models

### group by the data by the Make  using count function

In [303]:
car_make = cars.groupby(['Make']).count()
car_make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

In [304]:
# numebr of cars per model

most_cars = car_make.groupby(['Make'])['Model'].max()
most_cars

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Model, Length: 127, dtype: int64

What brand has the most cars?

In [305]:
# numebr of maxmum number of cars
### question: there is a way to import here the name of the Maker directly???

most_cars.max()

3643

In [306]:
# by sorting we can get the name of the Maker with higher number of Models.

car_make.sort_values(by=['Model'], ascending = False)

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643
Ford,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946
Dodge,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360
GMC,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347
Toyota,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Excalibur Autos,1,1,1,1,1,1,1,1,1,1,1,1,1,1
S and S Coach Company E.p. Dutton,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Environmental Rsch and Devp Corp,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"E. P. Dutton, Inc.",1,1,1,1,1,1,1,1,1,1,1,1,1,1
Lambda Control Systems,1,1,1,1,1,1,1,1,1,1,1,1,1,1

### show the average CO2_Emission_Grams/Km  by Brand

In [307]:
# changing column name Grams/Mile to Grams/Km

cars.rename(columns = {"CO2 Emission Grams/Mile" : "CO2 Emission Grams Km"}, inplace = True)

cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [308]:
co_emission = cars.groupby(['Make'])['CO2 Emission Grams Km'].mean()
co_emission

Make
AM General                     611.358244
ASC Incorporated               555.437500
Acura                          422.585325
Alfa Romeo                     463.952115
American Motors Corporation    505.758823
                                  ...
Volkswagen                     392.741721
Volvo                          435.803755
Wallace Environmental          657.990029
Yugo                           356.068256
smart                          247.030556
Name: CO2 Emission Grams Km, Length: 127, dtype: float64

### show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [309]:
co_emission.sort_values(ascending = False)

Make
Vector                                1049.159722
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Bugatti                                873.062500
Laforza Automobile Inc                 807.909091
                                         ...
MINI                                   313.716862
Daihatsu                               310.188060
Fiat                                   304.666560
smart                                  247.030556
Fisker                                 169.000000
Name: CO2 Emission Grams Km, Length: 127, dtype: float64

### Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [310]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [311]:
car_groups = pd.cut(cars['Year'], bins=4, labels=["<1985", "1995", "2005", ">2015"])
car_groups

0        <1985
1        <1985
2        <1985
3        <1985
4        <1985
         ...
35947    >2015
35948    >2015
35949    >2015
35950    >2015
35951    >2015
Name: Year, Length: 35952, dtype: category
Categories (4, object): ['<1985' < '1995' < '2005' < '>2015']

## Did cars consume more gas in the eighties?

#### show the average City_Km/Liter by year_range

In [312]:
# convert the column City MPG to City/Km

cars.rename(columns = {"City MPG" : "City Km/L"}, inplace = True)

cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City Km/L,Highway MPG,Combined MPG,CO2 Emission Grams Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [313]:
cars.groupby(['Year','Make'])["City Km/L"].mean()

Year  Make
1984  AM General                     15.500000
      American Motors Corporation    16.533333
      Buick                          15.333333
      Cadillac                       17.666667
      Chevrolet                      15.410448
                                       ...
2017  Subaru                         22.142857
      Toyota                         25.097561
      Volkswagen                     23.000000
      Volvo                          22.285714
      smart                          32.000000
Name: City Km/L, Length: 1587, dtype: float64

#### Which brands are more environment friendly?

In [314]:
co2_emission = cars.groupby(['Make'])["CO2 Emission Grams Km"].mean()
co2_emission.sort_values(ascending=True)

Make
Fisker                                 169.000000
smart                                  247.030556
Fiat                                   304.666560
Daihatsu                               310.188060
MINI                                   313.716862
                                         ...
Laforza Automobile Inc                 807.909091
Bugatti                                873.062500
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Vector                                1049.159722
Name: CO2 Emission Grams Km, Length: 127, dtype: float64

In [322]:
# the Brand Fisker is more environment friendly since has less CO2 Emission.

### Does the drivetrain affect fuel consumption?

In [321]:
# create a dataframe with only 'Drivetrain' and 'Fuel Cost/Year' to check the correlation between these 2.

drivetrain_fuelcost = cars[['Drivetrain','Fuel Cost/Year']]


drivetrain_fuelcost

             Drivetrain  Fuel Cost/Year
0         2-Wheel Drive            1950
1         2-Wheel Drive            2550
2      Rear-Wheel Drive            2100
3      Rear-Wheel Drive            2550
4      Rear-Wheel Drive            2550
...                 ...             ...
35947  Rear-Wheel Drive            1100
35948  Rear-Wheel Drive            1100
35949  Rear-Wheel Drive            1100
35950  Rear-Wheel Drive            1100
35951  Rear-Wheel Drive            1150

[35952 rows x 2 columns]

In [318]:
drivetrain_fuelcost['Drivetrain']=drivetrain_fuelcost['Drivetrain'].astype('category').cat.codes
drivetrain_fuelcost.corr()

/var/folders/58/4zdn6_kx1rz1scwtmmkg83kr0000gn/T/ipykernel_50689/4133240166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drivetrain_fuelcost['Drivetrain']=drivetrain_fuelcost['Drivetrain'].astype('category').cat.codes

                Drivetrain  Fuel Cost/Year
Drivetrain        1.000000        0.071018
Fuel Cost/Year    0.071018        1.000000

In [320]:
# Does the drivetrain affect fuel consumption?? 
# not, since there is not correlation between Drivetrain and Fuel Cost/Year.

### Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [256]:
Automatic_df = pd.DataFrame(cars.loc[cars['Transmission'].str.contains("Automatic")])
print(Automatic_df)

                        Make                Model  Year  Engine Displacement  \
0                 AM General    DJ Po Vehicle 2WD  1984                  2.5
1                 AM General     FJ8c Post Office  1984                  4.2
2                 AM General  Post Office DJ5 2WD  1985                  2.5
3                 AM General  Post Office DJ8 2WD  1985                  4.2
4           ASC Incorporated                  GNX  1987                  3.8
...                      ...                  ...   ...                  ...
35920  Wallace Environmental            Wetl 850I  1992                  5.0
35940                  smart   fortwo convertible  2008                  1.0
35941                  smart   fortwo convertible  2009                  1.0
35942                  smart         fortwo coupe  2008                  1.0
35943                  smart         fortwo coupe  2009                  1.0

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35920       12.0  Automatic 4-spd  Rear-Wheel Drive
35940        3.0   Automatic (S5)  Rear-Wheel Drive
35941        3.0  Automatic (AM5)  Rear-Wheel Drive
35942        3.0   Automatic (S5)  Rear-Wheel Drive
35943        3.0  Automatic (AM5)  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City Km/L  \
0      Special Purpose Vehicle 2WD   Regular          19.388824         18
1      Special Purpose Vehicle 2WD   Regular          25.354615         13
2      Special Purpose Vehicle 2WD   Regular          20.600625         16
3      Special Purpose Vehicle 2WD   Regular          25.354615         13
4                     Midsize Cars   Premium          20.600625         14
...                            ...       ...                ...        ...
35920              Subcompact Cars   Premium          25.354615         11
35940                  Two Seaters   Premium           9.155833         33
35941                  Two Seaters   Premium           9.155833         33
35942                  Two Seaters   Premium           9.155833         33
35943                  Two Seaters   Premium           9.155833         33

       Highway MPG  Combined MPG  CO2 Emission Grams Km  Fuel Cost/Year
0               17            17             522.764706            1950
1               13            13             683.615385            2550
2               17            16             555.437500            2100
3               13            13             683.615385            2550
4               21            16             555.437500            2550
...            ...           ...                    ...             ...
35920           17            13             683.615385            3100
35940           41            36             246.861111            1100
35941           41            36             246.861111            1100
35942           41            36             246.861111            1100
35943           41            36             246.861111            1100

[23408 rows x 15 columns]

In [257]:
Automatic_df = Automatic_df["Fuel Barrels/Year"].mean()
print(Automatic_df)

18.156082309251538

In [259]:
Manual_df = pd.DataFrame(cars.loc[cars['Transmission'].str.contains("Manual")])
print(Manual_df)

        Make             Model  Year  Engine Displacement  Cylinders  \
6      Acura       2.2CL/3.0CL  1997                  2.2        4.0
9      Acura       2.3CL/3.0CL  1998                  2.3        4.0
12     Acura       2.3CL/3.0CL  1999                  2.3        4.0
23     Acura             3.2CL  2003                  3.2        6.0
40     Acura               ILX  2013                  2.4        4.0
...      ...               ...   ...                  ...        ...
35929   Yugo            GV/GVX  1989                  1.1        4.0
35930   Yugo            GV/GVX  1989                  1.3        4.0
35931   Yugo       Gy/yugo GVX  1986                  1.1        4.0
35939  smart  fortwo cabriolet  2017                  0.9        3.0
35951  smart      fortwo coupe  2016                  0.9        3.0

       Transmission         Drivetrain     Vehicle Class Fuel Type  \
6      Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
9      Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
12     Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
23     Manual 6-spd  Front-Wheel Drive      Compact Cars   Premium
40     Manual 6-spd  Front-Wheel Drive      Compact Cars   Premium
...             ...                ...               ...       ...
35929  Manual 4-spd  Front-Wheel Drive   Subcompact Cars   Regular
35930  Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
35931  Manual 4-spd  Front-Wheel Drive  Minicompact Cars   Regular
35939  Manual 5-spd   Rear-Wheel Drive       Two Seaters   Premium
35951  Manual 5-spd   Rear-Wheel Drive       Two Seaters   Premium

       Fuel Barrels/Year  City Km/L  Highway MPG  Combined MPG  \
6              13.733750         22           28            24
9              13.733750         21           29            24
12             13.733750         21           29            24
23             16.480500         17           26            20
40             13.184400         22           31            25
...                  ...        ...          ...           ...
35929          12.677308         24           29            26
35930          13.184400         23           28            25
35931          13.184400         22           29            25
35939           9.694412         31           38            34
35951           9.417429         32           39            35

       CO2 Emission Grams Km  Fuel Cost/Year
6                 370.291667            1400
9                 370.291667            1400
12                370.291667            1400
23                444.350000            2000
40                361.000000            1600
...                      ...             ...
35929             341.807692            1300
35930             355.480000            1350
35931             355.480000            1350
35939             258.000000            1200
35951             255.000000            1150

[11662 rows x 15 columns]

In [260]:
Manual_df = Manual_df["Fuel Barrels/Year"].mean()
print(Manual_df)

16.704904365383218

In [261]:
Automatic_df > Manual_df

True

### Use `groupby` and `aggregate` with different aggregation measures for different columns:

### aggregate with average City_Km/Liter and the count of the Trans

In [279]:
cars.groupby(['Model','City Km/L','Transmission']).mean()

                                             Year  Engine Displacement  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd  1991.0                  3.0
                          Manual 5-spd     1991.5                  3.0
                17        Automatic 4-spd  1989.0                  3.0
                          Manual 5-spd     1989.0                  2.8
                19        Automatic 4-spd  1988.0                  2.4
...                                           ...                  ...
xB              27        Automatic 4-spd  2005.0                  1.5
                          Manual 5-spd     2004.5                  1.5
xD              26        Automatic 4-spd  2008.5                  1.8
                27        Automatic 4-spd  2012.0                  1.8
                          Manual 5-spd     2011.0                  1.8

                                           Cylinders  Fuel Barrels/Year  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd   6.000000          17.990409
                          Manual 5-spd      6.000000          18.311667
                17        Automatic 4-spd   6.000000          17.347895
                          Manual 5-spd      5.333333          17.669152
                19        Automatic 4-spd   4.000000          16.480500
...                                              ...                ...
xB              27        Automatic 4-spd   4.000000          11.365862
                          Manual 5-spd      4.000000          11.568824
xD              26        Automatic 4-spd   4.000000          11.771786
                27        Automatic 4-spd   4.000000          11.365862
                          Manual 5-spd      4.000000          11.365862

                                           Highway MPG  Combined MPG  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd    21.333333     18.333333
                          Manual 5-spd       22.000000     18.000000
                17        Automatic 4-spd    23.000000     19.000000
                          Manual 5-spd       21.333333     18.666667
                19        Automatic 4-spd    22.000000     20.000000
...                                                ...           ...
xB              27        Automatic 4-spd    32.000000     29.000000
                          Manual 5-spd       31.500000     28.500000
xD              26        Automatic 4-spd    32.000000     28.000000
                27        Automatic 4-spd    33.000000     29.000000
                          Manual 5-spd       33.000000     29.000000

                                           CO2 Emission Grams Km  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd             485.060429
                          Manual 5-spd                493.722222
                17        Automatic 4-spd             467.736842
                          Manual 5-spd                476.398635
                19        Automatic 4-spd             444.350000
...                                                          ...
xB              27        Automatic 4-spd             306.448276
                          Manual 5-spd                311.920567
xD              26        Automatic 4-spd             317.392857
                27        Automatic 4-spd             304.268966
                          Manual 5-spd                303.748768

                                           Fuel Cost/Year
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd     1816.666667
                          Manual 5-spd        1850.000000
                17        Automatic 4-spd     1750.000000
                          Manual 5-spd        1783.333333
                19        Automatic 4-spd     1650.000000
...                                                   ...
xB              27        Automatic 4-spd     1150.000000
                          Manual 5-spd        1175.000000
xD              26        Automatic 4-spd     1200.000000
                27        Automatic 4-spd     1150.000000
                          Manual 5-spd        1150.000000

[12627 rows x 8 columns]

### aggregate with average City_Km/Liter and the minimum of the Trans

In [278]:
cars.groupby(['Model','City Km/L','Transmission']).min()

                                             Make  Year  Engine Displacement  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd  Toyota  1990                  3.0
                          Manual 5-spd     Toyota  1991                  3.0
                17        Automatic 4-spd  Toyota  1989                  3.0
                          Manual 5-spd     Toyota  1988                  2.4
                19        Automatic 4-spd  Toyota  1988                  2.4
...                                           ...   ...                  ...
xB              27        Automatic 4-spd   Scion  2005                  1.5
                          Manual 5-spd      Scion  2004                  1.5
xD              26        Automatic 4-spd   Scion  2008                  1.8
                27        Automatic 4-spd   Scion  2010                  1.8
                          Manual 5-spd      Scion  2008                  1.8

                                           Cylinders         Drivetrain  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd        6.0   Rear-Wheel Drive
                          Manual 5-spd           6.0   Rear-Wheel Drive
                17        Automatic 4-spd        6.0   Rear-Wheel Drive
                          Manual 5-spd           4.0   Rear-Wheel Drive
                19        Automatic 4-spd        4.0   Rear-Wheel Drive
...                                              ...                ...
xB              27        Automatic 4-spd        4.0  Front-Wheel Drive
                          Manual 5-spd           4.0  Front-Wheel Drive
xD              26        Automatic 4-spd        4.0  Front-Wheel Drive
                27        Automatic 4-spd        4.0  Front-Wheel Drive
                          Manual 5-spd           4.0  Front-Wheel Drive

                                                    Vehicle Class Fuel Type  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd  Standard Pickup Trucks   Regular
                          Manual 5-spd     Standard Pickup Trucks   Regular
                17        Automatic 4-spd  Standard Pickup Trucks   Regular
                          Manual 5-spd     Standard Pickup Trucks   Regular
                19        Automatic 4-spd  Standard Pickup Trucks   Regular
...                                                           ...       ...
xB              27        Automatic 4-spd    Small Station Wagons   Regular
                          Manual 5-spd       Small Station Wagons   Regular
xD              26        Automatic 4-spd         Subcompact Cars   Regular
                27        Automatic 4-spd         Subcompact Cars   Regular
                          Manual 5-spd            Subcompact Cars   Regular

                                           Fuel Barrels/Year  Highway MPG  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd          17.347895           21
                          Manual 5-spd             18.311667           22
                17        Automatic 4-spd          17.347895           23
                          Manual 5-spd             17.347895           20
                19        Automatic 4-spd          16.480500           22
...                                                      ...          ...
xB              27        Automatic 4-spd          11.365862           32
                          Manual 5-spd             11.365862           31
xD              26        Automatic 4-spd          11.771786           32
                27        Automatic 4-spd          11.365862           33
                          Manual 5-spd             11.365862           33

                                           Combined MPG  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd            18
                          Manual 5-spd               18
                17        Automatic 4-spd            19
                          Manual 5-spd               18
                19        Automatic 4-spd            20
...                                                 ...
xB              27        Automatic 4-spd            29
                          Manual 5-spd               28
xD              26        Automatic 4-spd            28
                27        Automatic 4-spd            29
                          Manual 5-spd               29

                                           CO2 Emission Grams Km  \
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd             467.736842
                          Manual 5-spd                493.722222
                17        Automatic 4-spd             467.736842
                          Manual 5-spd                467.736842
                19        Automatic 4-spd             444.350000
...                                                          ...
xB              27        Automatic 4-spd             306.448276
                          Manual 5-spd                306.448276
xD              26        Automatic 4-spd             317.392857
                27        Automatic 4-spd             301.000000
                          Manual 5-spd                297.000000

                                           Fuel Cost/Year
Model           City Km/L Transmission
1-Ton Truck 2WD 16        Automatic 4-spd            1750
                          Manual 5-spd               1850
                17        Automatic 4-spd            1750
                          Manual 5-spd               1750
                19        Automatic 4-spd            1650
...                                                   ...
xB              27        Automatic 4-spd            1150
                          Manual 5-spd               1150
xD              26        Automatic 4-spd            1200
                27        Automatic 4-spd            1150
                          Manual 5-spd               1150

[12627 rows x 12 columns]