# Using Pandas

In [607]:
import pandas as pd
import numpy as np

In [608]:
pd.set_option('display.max_rows', 200)

## to make it possible to display multiple output inside one cell 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [609]:
## Your Code here

vehicles_df = pd.read_csv('data/vehicles.csv')
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [610]:
# How many observations does it have?
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [611]:
vehicles_df.count()

vehicles_df.describe()

Make                       35952
Model                      35952
Year                       35952
Engine Displacement        35952
Cylinders                  35952
Transmission               35952
Drivetrain                 35952
Vehicle Class              35952
Fuel Type                  35952
Fuel Barrels/Year          35952
City MPG                   35952
Highway MPG                35952
Combined MPG               35952
CO2 Emission Grams/Mile    35952
Fuel Cost/Year             35952
dtype: int64

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

answers:
- Look at all the columns: do you understand what they mean? yes.
- Look at the raw data: do you see anything weird? ...
- Look at the data types: are they the expected ones for the information the column contains? yes.

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [612]:
# Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use loc with boolean indexing.

vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,"E. P. Dutton, Inc.",Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,S and S Coach Company E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Superior Coaches Div E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

In [613]:
#vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")] = "Dutton"

#vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]




#NOTE: I didn't find the way to change only the make names here and to set inplace.      !!!!!!!!!!!!

In [614]:
#vehicles_df.replace({'Make':{11011 : "Dutton", 30164 : "Dutton", 31755 : "Dutton"}}, inplace=True)

#vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]

#NOTE: I didn't find the way to change only the make names here            !!!!!!!!!!!!

In [615]:
vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]
vehicles_df.loc[11012, 'Make'] = "Dutton"
vehicles_df.loc[30164, 'Make'] = "Dutton"
vehicles_df.loc[31754, 'Make'] = "Dutton"

vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,"E. P. Dutton, Inc.",Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,S and S Coach Company E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Superior Coaches Div E.p. Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

In [616]:
#Convert CO2 Emissions from Grams/Mile to Grams/Km

vehicles_df.rename(columns = {"CO2 Emission Grams/Mile" : "CO2 Emission Grams/Km"}, inplace = True)

vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150


Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [617]:
vehicles_df["CO2 Emission Grams/Km"]=vehicles_df["CO2 Emission Grams/Km"] * (1/1.60934)
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

In [618]:
#Create a binary column that solely indicates if the transmission of a car is automatic or manual.

transmission_df = vehicles_df[["Model","Transmission"]]
transmission_df

                     Model     Transmission
0        DJ Po Vehicle 2WD  Automatic 3-spd
1         FJ8c Post Office  Automatic 3-spd
2      Post Office DJ5 2WD  Automatic 3-spd
3      Post Office DJ8 2WD  Automatic 3-spd
4                      GNX  Automatic 4-spd
...                    ...              ...
35947         fortwo coupe        Auto(AM5)
35948         fortwo coupe        Auto(AM5)
35949         fortwo coupe        Auto(AM5)
35950         fortwo coupe        Auto(AM6)
35951         fortwo coupe     Manual 5-spd

[35952 rows x 2 columns]

In [619]:
#Use pandas.Series.str.starts with and 


Transmission = {"Model": pd.Series(vehicles_df["Model"]),
        "Transmission": pd.Series(vehicles_df["Transmission"])}

pd.DataFrame(Transmission)

                     Model     Transmission
0        DJ Po Vehicle 2WD  Automatic 3-spd
1         FJ8c Post Office  Automatic 3-spd
2      Post Office DJ5 2WD  Automatic 3-spd
3      Post Office DJ8 2WD  Automatic 3-spd
4                      GNX  Automatic 4-spd
...                    ...              ...
35947         fortwo coupe        Auto(AM5)
35948         fortwo coupe        Auto(AM5)
35949         fortwo coupe        Auto(AM5)
35950         fortwo coupe        Auto(AM6)
35951         fortwo coupe     Manual 5-spd

[35952 rows x 2 columns]



MPG = Miles/Gallon -> Km/Liter = 0.42514

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [620]:
#convert MPG columns to km_per_liter in panda series

MPG_conv = {"City MPG": pd.Series(vehicles_df["City MPG"]) * 0.42514,
                "Highway MPG": pd.Series(vehicles_df["Highway MPG"]) * 0.42514,
                "Combined MPG": pd.Series(vehicles_df["Combined MPG"]) * 0.42514}

pd.DataFrame(MPG_conv)

       City MPG  Highway MPG  Combined MPG
0       7.65252      7.22738       7.22738
1       5.52682      5.52682       5.52682
2       6.80224      7.22738       6.80224
3       5.52682      5.52682       5.52682
4       5.95196      8.92794       6.80224
...         ...          ...           ...
35947  14.45476     16.15532      15.30504
35948  14.45476     16.15532      15.30504
35949  14.45476     16.15532      15.30504
35950  14.45476     16.58046      15.30504
35951  13.60448     16.58046      14.87990

[35952 rows x 3 columns]

In [621]:
vehicles_df.rename(columns = {"City MPG" : "City KM/L", "Highway MPG" : "Highway KM/L", "Combined MPG" : "Combined KM/L"}, inplace = True)

vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

In [622]:
#merge data

New_datafile_df = {"Make": pd.Series(vehicles_df["Make"]),
                "Model": pd.Series(vehicles_df["Model"]),
                "Year": pd.Series(vehicles_df["Year"]),
                "Engine Displacement": pd.Series(vehicles_df["Engine Displacement"]),
                "Cylinders": pd.Series(vehicles_df["Cylinders"]),
                "Transmission": pd.Series(vehicles_df["Transmission"]),
                "Drivetrain": pd.Series(vehicles_df["Drivetrain"]),
                "Vehicle Class": pd.Series(vehicles_df["Vehicle Class"]),
                "Fuel Type": pd.Series(vehicles_df["Fuel Type"]),
                "Fuel Barrels/Year": pd.Series(vehicles_df["Fuel Barrels/Year"]),
                "City KM/L": pd.Series(vehicles_df["City KM/L"]) * 0.42514,
                "Highway KM/L": pd.Series(vehicles_df["Highway KM/L"]) * 0.42514,
                "Combined KM/L": pd.Series(vehicles_df["Combined KM/L"]) * 0.42514,
                "CO2 Emission Grams/Km": pd.Series(vehicles_df["CO2 Emission Grams/Km"]),
                "Fuel Cost/Year": pd.Series(vehicles_df["Fuel Cost/Year"])}


pd.DataFrame(New_datafile_df)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.65252,7.22738,7.22738,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.52682,5.52682,5.52682,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.80224,7.22738,6.80224,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.52682,5.52682,5.52682,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.95196,8.92794,6.80224,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45476,16.15532,15.30504,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45476,16.15532,15.30504,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45476,16.15532,15.30504,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45476,16.58046,15.30504,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.60448,16.58046,14.87990,158.450048,1150

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [623]:
# How many car makers are there? 

New_datafile_df['Make'].value_counts()
print(len(New_datafile_df['Make'].value_counts()))

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

125

In [654]:
# # How many models? 

New_datafile_df['Model'].value_counts(0)

print(len(New_datafile_df['Model'].value_counts()))

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

3608

In [656]:
# Which car maker has the most cars in the dataset?


mostcar_df = pd.DataFrame(New_datafile_df['Model'].value_counts())
mostcar_df["Make"]= pd.Series(New_datafile_df["Make"])
mostcar_df

# I was trying to create a data frame with the models and makers in ascending order of car numbers but I couln'd. make it.

                   Model Make
F150 Pickup 2WD      197  NaN
F150 Pickup 4WD      179  NaN
Truck 2WD            173  NaN
Mustang              170  NaN
Jetta                169  NaN
...                  ...  ...
C300 Convertible       1  NaN
C300 Coupe             1  NaN
C300 FFV               1  NaN
C320 4matic Sedan      1  NaN
DJ Po Vehicle 2WD      1  NaN

[3608 rows x 2 columns]

In [627]:
#mostcar_df.insert(len(New_datafile_df['Model'].value_counts())
#mostcar_df

In [628]:
# When were these cars made? How big is the engine of these cars?

# What's the frequency of different transmissions, drivetrains and fuel types?

In [660]:
# What's the car that consumes the least/most fuel?

New_datafile_df = pd.DataFrame(New_datafile_df)
New_datafile_df.sort_values(by=['Fuel Barrels/Year'], ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17296,Honda,Civic CNG,2009,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Subcompact Cars,CNG,0.066429,10.20336,15.30504,11.90392,157.329913,1100
17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,11.47878,16.15532,13.17934,135.459257,1000
17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,11.47878,16.15532,13.17934,135.459257,1000
17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,11.47878,16.15532,13.17934,135.459257,1000
17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.060000,11.47878,16.15532,13.17934,142.104437,1000

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [662]:
## What brand has the worse CO2 Emissions on average?


New_datafile_df.sort_values(by=['CO2 Emission Grams/Km'], ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KM/L,Highway KM/L,Combined KM/L,CO2 Emission Grams/Km,Fuel Cost/Year
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.55084,4.25140,2.97598,788.877073,5800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,18.28102,17.85588,17.85588,31.690010,800
7916,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,18.28102,17.85588,17.85588,31.690010,800
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,17.43074,15.73018,16.58046,24.854909,1050
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,17.43074,15.73018,16.58046,24.854909,1050
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,17.43074,15.73018,16.58046,22.990791,1050

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [667]:
## Your Code is here 

Automatic_df = pd.DataFrame(New_datafile_df.loc[New_datafile_df['Transmission'].str.contains("Automatic")])
print(Automatic_df)

                        Make                Model  Year  Engine Displacement  \
0                 AM General    DJ Po Vehicle 2WD  1984                  2.5
1                 AM General     FJ8c Post Office  1984                  4.2
2                 AM General  Post Office DJ5 2WD  1985                  2.5
3                 AM General  Post Office DJ8 2WD  1985                  4.2
4           ASC Incorporated                  GNX  1987                  3.8
...                      ...                  ...   ...                  ...
35920  Wallace Environmental            Wetl 850I  1992                  5.0
35940                  smart   fortwo convertible  2008                  1.0
35941                  smart   fortwo convertible  2009                  1.0
35942                  smart         fortwo coupe  2008                  1.0
35943                  smart         fortwo coupe  2009                  1.0

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35920       12.0  Automatic 4-spd  Rear-Wheel Drive
35940        3.0   Automatic (S5)  Rear-Wheel Drive
35941        3.0  Automatic (AM5)  Rear-Wheel Drive
35942        3.0   Automatic (S5)  Rear-Wheel Drive
35943        3.0  Automatic (AM5)  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City KM/L  \
0      Special Purpose Vehicle 2WD   Regular          19.388824    7.65252
1      Special Purpose Vehicle 2WD   Regular          25.354615    5.52682
2      Special Purpose Vehicle 2WD   Regular          20.600625    6.80224
3      Special Purpose Vehicle 2WD   Regular          25.354615    5.52682
4                     Midsize Cars   Premium          20.600625    5.95196
...                            ...       ...                ...        ...
35920              Subcompact Cars   Premium          25.354615    4.67654
35940                  Two Seaters   Premium           9.155833   14.02962
35941                  Two Seaters   Premium           9.155833   14.02962
35942                  Two Seaters   Premium           9.155833   14.02962
35943                  Two Seaters   Premium           9.155833   14.02962

       Highway KM/L  Combined KM/L  CO2 Emission Grams/Km  Fuel Cost/Year
0           7.22738        7.22738             324.831736            1950
1           5.52682        5.52682             424.779962            2550
2           7.22738        6.80224             345.133719            2100
3           5.52682        5.52682             424.779962            2550
4           8.92794        6.80224             345.133719            2550
...             ...            ...                    ...             ...
35920       7.22738        5.52682             424.779962            3100
35940      17.43074       15.30504             153.392764            1100
35941      17.43074       15.30504             153.392764            1100
35942      17.43074       15.30504             153.392764            1100
35943      17.43074       15.30504             153.392764            1100

[23408 rows x 15 columns]

In [670]:
Automatic_mean = Automatic_df["Fuel Barrels/Year"].mean()
print(Automatic_mean)

18.156082309251538

In [671]:
Manual_df = pd.DataFrame(New_datafile_df.loc[New_datafile_df['Transmission'].str.contains("Manual")])
print(Manual_df)

        Make             Model  Year  Engine Displacement  Cylinders  \
6      Acura       2.2CL/3.0CL  1997                  2.2        4.0
9      Acura       2.3CL/3.0CL  1998                  2.3        4.0
12     Acura       2.3CL/3.0CL  1999                  2.3        4.0
23     Acura             3.2CL  2003                  3.2        6.0
40     Acura               ILX  2013                  2.4        4.0
...      ...               ...   ...                  ...        ...
35929   Yugo            GV/GVX  1989                  1.1        4.0
35930   Yugo            GV/GVX  1989                  1.3        4.0
35931   Yugo       Gy/yugo GVX  1986                  1.1        4.0
35939  smart  fortwo cabriolet  2017                  0.9        3.0
35951  smart      fortwo coupe  2016                  0.9        3.0

       Transmission         Drivetrain     Vehicle Class Fuel Type  \
6      Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
9      Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
12     Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
23     Manual 6-spd  Front-Wheel Drive      Compact Cars   Premium
40     Manual 6-spd  Front-Wheel Drive      Compact Cars   Premium
...             ...                ...               ...       ...
35929  Manual 4-spd  Front-Wheel Drive   Subcompact Cars   Regular
35930  Manual 5-spd  Front-Wheel Drive   Subcompact Cars   Regular
35931  Manual 4-spd  Front-Wheel Drive  Minicompact Cars   Regular
35939  Manual 5-spd   Rear-Wheel Drive       Two Seaters   Premium
35951  Manual 5-spd   Rear-Wheel Drive       Two Seaters   Premium

       Fuel Barrels/Year  City KM/L  Highway KM/L  Combined KM/L  \
6              13.733750    9.35308      11.90392       10.20336
9              13.733750    8.92794      12.32906       10.20336
12             13.733750    8.92794      12.32906       10.20336
23             16.480500    7.22738      11.05364        8.50280
40             13.184400    9.35308      13.17934       10.62850
...                  ...        ...           ...            ...
35929          12.677308   10.20336      12.32906       11.05364
35930          13.184400    9.77822      11.90392       10.62850
35931          13.184400    9.35308      12.32906       10.62850
35939           9.694412   13.17934      16.15532       14.45476
35951           9.417429   13.60448      16.58046       14.87990

       CO2 Emission Grams/Km  Fuel Cost/Year
6                 230.089146            1400
9                 230.089146            1400
12                230.089146            1400
23                276.106976            2000
40                224.315558            1600
...                      ...             ...
35929             212.389981            1300
35930             220.885580            1350
35931             220.885580            1350
35939             160.314166            1200
35951             158.450048            1150

[11662 rows x 15 columns]

In [672]:
Manual_mean = Manual_df["Fuel Barrels/Year"].mean()
print(Manual_mean)

16.704904365383218

In [673]:
Automatic_mean > Manual_mean

True